body {
    background-color: #565D61;
    background: url("../images/anal.jpg")  center no-repeat;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-weight:  lighter;
    font-size: 19px;
    opacity: .9;
}

footer {
    padding: 0 15px 0 15px;}

footer p {
    background: url("../images/code.jpg") 0 0 no-repeat;
    line-height: 1.4em;
    vertical-align: bottom;
    color: black;
}
form {
    font-weight: bold;
    text-align: left;
    border: 5px solid #CF8A05;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.icons-color {
    color: #CF8A05;
}
.col-6 p {
    color: white;
    padding: 5px;
}
.btn-secondary {
    background: #CF8A05 !important;
}
.firstcharacter {
    color: black;
    text-shadow: 3px 3px 2px #CF8A05;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.center {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 10px 10px 10px;}

.center h2 {
    color: black;
    text-shadow: 2px 2px 1px #CF8A05;}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

img.center {
    display: block;
    margin: 0 auto;}

.homepage {
    color: #CF8A05;
    text-shadow: 3px 3px 1px black;}

.navbar-inverse .navbar-brand {
    color: #CF8A05;}

.jumbotron {
    padding: 25px;}

.jumbotron h1 {
    text-shadow: 2px 2px 1px #CF8A05;}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in;}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;}

.delaySix {
	-webkit-animation-delay: 0, 3s;
	-moz-animation-delay: 0, 3s;
	animation-delay: 0, 3s;}
