body{
	font-family: verdana, arial;
	background-color: #565D61;
	color: black;
	background-position: center;
	}

h1 {
	height: 635px;
	width: 1024px;
	margin: 0 0 0 15%;
	background-position: center;
    background-image: url("../images/cerberus_full.png");
    background-repeat: no-repeat;}

#logo {
  background-image: url("../images/cerberus_full.png");
  display: block;
  text-indent: 100%;
  overflow: hidden;
  margin:	0 auto;
  white-space: nowrap;
  width: 1024px;
  height: 635px;
}

h2 {
	text-shadow: 2px 2px 2px #CCCCCC;
	margin: 15px 0 0 425px;
	font-size: 50px;
	color: #f0e68c;}